body {
    font-family: monospace;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
}
li {
    list-style: circle;
}
.list {
    list-style: square;
}
#msg {
    font-weight: monospace;
}


.light-theme {
    color: #000000;
    background: #00FF00;
}
:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;    
}

* {
    color: var(--fontColor);
    font-family: helvetica;
    background: var(--bg);
    
}

.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
}
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
}